/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/css/style.scss ***!
  \*************************************************************************************************************/
/* $radius is the parameter of the function */
body,
html {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 48px;
  overflow: hidden;
}

.header {
  width: 100%;
  max-height: 20%;
  box-shadow: 0px 5px 5px black;
  background: rgba(2, 0, 0, 0.836);
  transition: background 0.5s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1.2rem;
  color: white;
  padding: 1em;
  font-size: 3rem;
}
.header .make-bigger {
  scale: 2.1;
  padding-right: 16px;
  font-weight: 600;
  margin-left: 50px;
}

.footer {
  width: 100%;
  background: rgba(2, 0, 0, 0.9);
  transition: background 0.5s ease;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  height: 5vh;
  position: absolute;
  bottom: 0;
}

.active {
  background-color: rgba(153, 153, 153, 0.2039215686);
  font-weight: 600;
}

.main-section-container {
  display: flex;
}
.main-section-container .box-container {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.main-section-container .box-container .list-container {
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  padding: 10px 20px;
}
.main-section-container .box-container .list-container .Todo-section .task-item {
  border: none;
  border-radius: 4px;
  text-align: left;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(153, 153, 153, 0.2039215686);
}
.main-section-container .box-container .list-container .Todo-section .task-item .task-name {
  font-size: 1.3rem;
}
.main-section-container .box-container .list-container .Todo-section .task-item .task-description {
  left: 20px;
  overflow: hidden;
}
.main-section-container .box-container .list-container .Todo-section .task-item:hover {
  background-color: rgba(161, 161, 161, 0.4431372549);
}
.main-section-container .box-container .list-container .Todo-section .task-item .icon-button:hover {
  scale: 1.2;
  cursor: pointer;
}
.main-section-container .box-container .list-container button {
  width: 100%;
  border: none;
  border-radius: 4px;
  text-align: left;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.main-section-container .box-container .list-container button:hover {
  cursor: pointer;
  background-color: rgba(161, 161, 161, 0.4431372549);
}
.main-section-container .box-container .list-container button .button-text {
  margin-left: 5px;
}
.main-section-container .box-container .list-container .add-container {
  display: none;
  flex-direction: column;
}
.main-section-container .box-container .list-container .add-container #input-title {
  height: 2rem;
  margin: 5px;
  border-radius: 8px;
  font-size: 1.2rem;
  text-indent: 8px;
}
.main-section-container .box-container .list-container .add-container #input-description {
  height: 4rem;
  margin: 5px;
  border-radius: 8px;
  text-indent: 8px;
  word-wrap: normal;
}
.main-section-container .box-container .list-container .add-container .form-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  height: 4rem;
}
.main-section-container .box-container .list-container .add-container .form-container .form {
  border-radius: 4px;
  margin: 5px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 900;
  font-size: 1.25rem;
  word-wrap: normal;
}
.main-section-container .box-container .list-container .add-container .form-container .submit-form {
  background-color: rgba(70, 185, 60, 0.6509803922);
}
.main-section-container .box-container .list-container .add-container .form-container .submit-form:hover {
  background-color: rgba(70, 185, 60, 0.9450980392);
}
.main-section-container .box-container .list-container .add-container .form-container .cancel-form {
  background-color: rgba(231, 38, 38, 0.6588235294);
}
.main-section-container .box-container .list-container .add-container .form-container .cancel-form:hover {
  background-color: rgba(231, 38, 38, 0.8823529412);
}
.main-section-container .sidebar {
  background-color: rgba(153, 153, 153, 0.2039215686);
  min-width: 250px;
  width: 300px;
  padding: 10px;
  z-index: 5;
  height: 79vh;
}
.main-section-container .sidebar .project,
.main-section-container .sidebar .scheduled-item {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 12px;
  margin: 5px;
  border: none;
  width: 90%;
}
.main-section-container .sidebar .project p,
.main-section-container .sidebar .scheduled-item p {
  font-size: medium;
  padding-left: 0.9rem;
}
.main-section-container .sidebar .project:hover,
.main-section-container .sidebar .scheduled-item:hover {
  cursor: pointer;
  background-color: rgba(153, 153, 153, 0.2039215686);
}
.main-section-container .sidebar .scheduled-container {
  margin-top: 20px;
}
.main-section-container .sidebar .scheduled-container .scheduled-item {
  margin: 0.2rem;
  padding-left: 1rem;
}
.main-section-container .sidebar .project-container .project-heading {
  margin-bottom: 5px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 1.75rem;
}
.main-section-container .sidebar .project-container .project-form-container {
  display: none;
  flex-direction: column;
  align-items: center;
}
.main-section-container .sidebar .project-container .project-form-container .form-container {
  border-radius: 4px;
  margin: 5px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 900;
  font-size: 1.25rem;
  word-wrap: normal;
}
.main-section-container .sidebar .project-container .project-form-container .form {
  border: none;
  border-radius: 8px;
  margin: 5px;
  width: 8rem;
  height: 3rem;
  color: white;
  font-weight: 700;
}
.main-section-container .sidebar .project-container .project-form-container .form:hover {
  cursor: pointer;
}
.main-section-container .sidebar .project-container .project-form-container #project-title-input {
  border-radius: 8px;
  padding: 0.1rem;
  text-indent: 4px;
  font-size: 1.2rem;
  width: 85%;
}
.main-section-container .sidebar .project-container .project-form-container .submit-new-project {
  background-color: rgba(70, 185, 60, 0.6509803922);
}
.main-section-container .sidebar .project-container .project-form-container .submit-new-project:hover {
  background-color: rgba(70, 185, 60, 0.9450980392);
}
.main-section-container .sidebar .project-container .project-form-container .cancel-form {
  background-color: rgba(231, 38, 38, 0.6588235294);
}
.main-section-container .sidebar .project-container .project-form-container .cancel-form:hover {
  background-color: rgba(231, 38, 38, 0.8823529412);
}
.main-section-container .sidebar .project-container .project {
  margin: 0.5rem;
  padding-left: 1rem;
}

.active {
  display: flex;
}

/*# sourceMappingURL=main.css.map*/