$fonts: 'Poppins', Helvetica, sans-serif;
$primary-color: #ab99ca;
$spacing: 2rem;
$light-grey: #99999934;
$white: whitesmoke;
$dark-grey: #a1a1a171;
$cancel-red: #e72626a8;
$submit-green: #46b93ca6;
$hover-green: #46b93cf1;
$hover-red: #e72626e1;
$indent: 8px;