@import './mixins';
@import './variables';

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 48px;
    overflow: hidden;
}

.header {
    width: 100%;
    max-height: 20%;
    box-shadow: 0px 5px 5px black;
    background:rgba(2, 0, 0, 0.836);
    transition: background 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1.2rem;
    color: white;
    padding: 1em;
    font-size: 3rem;
    .make-bigger {
        scale: 2.1;
        padding-right: 16px;
        font-weight: 600;   
        margin-left: 50px;
    }
}

.footer {
    width: 100%;
    background:rgba(2, 0, 0, 0.9);
    transition: background 0.5s ease;
    font-size: 1rem;
    line-height: 1;
    @include flex-center;
    // overflow: hidden;
    color: $white;
    height: 5vh;
    position: absolute;
    bottom: 0;
}

.main-section-container {
    display: flex;
    width: 100%;
    .box-container {
        @include flex-center-horizontal;
        // @include grid-column;
        // min-width: 800px;
        min-width: 300px;
        width: 100%;
        margin: 2rem;
        .list-container {
            // grid-column: 2 / 9;
            width: 100%;
            margin: 0 auto;
            padding: 10px 20px;
            .Todo-section {
                .task-item {
                    border: none;
                    border-radius: 4px;
                    text-align: left;
                    padding: 0.5rem 0.5rem;
                    @include flex-center-vertical;
                    margin-bottom: 12px;
                    flex-direction: row;
                    justify-content: space-between;
                    background-color: $light-grey;
    
                    .task-name {
                        font-size: 1.3rem;
                    }
                    .task-description {
                        left: 20px;
                        overflow: hidden;
                    }
                    &:hover {
                        background-color: adjust-hue($color: $dark-grey, $degrees: 200);
                    }
                    .icon-button:hover {
                        scale: 1.2;
                        cursor: pointer;
                    }
                }

            }
            button {
                width: 100%;
                border: none;
                border-radius: 4px;
                text-align: left;
                padding: 0.25rem 0.5rem;
                @include flex-center-vertical;
                margin-bottom: 12px;
                &:hover {
                    cursor: pointer;
                    background-color: adjust-hue($color: $dark-grey, $degrees: 200);
                }
                .button-text {
                    margin-left: 5px;
                }
            }
            .add-container {
                display: none;
                // display: flex;
                flex-direction: column;
                #input-title {
                    height: 2rem;
                    margin: 5px;
                    border-radius: 8px;
                    font-size: 1.2rem;
                    text-indent: $indent;
                }
                #input-description {
                    height: 4rem;
                    margin: 5px;
                    border-radius: 8px;
                    text-indent: $indent;
                    word-wrap: normal;
                }
                .form-container {
                    display: flex;
                    flex-direction: row;
                    padding: 5px;
                    // margin: 5px;
                    height: 4rem;
                    .form {
                        border-radius: 4px;
                        margin: 10px;
                        @include flex-center-horizontal;
                        color: white;
                        font-weight: 900;
                        font-size: 1.25rem;
                        word-wrap: normal;
                    }
                    .submit-form {
                        background-color: $submit-green;
                        &:hover {
                            background-color: $hover-green;
                        }
                    }
                    .cancel-form {
                        background-color: $cancel-red;
                        &:hover {
                            background-color: $hover-red;
                        }
                    }
                }
            }
        }
    }
        
    .sidebar {
        background-color: $light-grey;
        min-width: 250px;
        width: 300px;
        padding: 10px;
        z-index: 5;
        height: 79vh;
        .project,
        .scheduled-item {
            background: transparent;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 12px;
            margin: 5px;
            border: none;
            width: 90%;
            p {
                font-size: medium;
                padding-left: 0.9rem;
            }
            &:hover {
                cursor: pointer;
                background-color: adjust-hue($color: $light-grey, $degrees: 200);
            }
        }
        .scheduled-container {
            margin-top: 20px;
            .scheduled-item {
                margin: 0.2rem;
                padding-left: 1rem;
            }
            .active {
                background-color: adjust-hue($color: $light-grey, $degrees: 10);
                font-weight: 600;
            }
        }
        .project-container {
            .project-heading {
                margin-bottom: 5px;
                margin-left: 20px;
                font-weight: 600;
                font-size: 1.75rem;
            }
            .project-form-container {
                display: none;
                flex-direction: column;
                align-items: center;
                .form-container {
                    border-radius: 4px;
                    margin: 5px;
                    @include flex-center-horizontal;
                    color: white;
                    font-weight: 900;
                    font-size: 1.25rem;
                    word-wrap: normal;
                    .form {
                        border: none;
                        border-radius: 8px;
                        margin: 5px;
                        // padding: 1.25rem 1rem;
                        width: 7.2rem;
                        height: 3rem;
                        color: white;
                        font-weight: 700;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                #project-title-input {
                    border-radius: 8px;
                    padding: 0.1rem;
                    text-indent: 4px;
                    font-size: 1.2rem;
                    width: 85%;
                }
                .submit-new-project {
                    background-color: $submit-green;
                    &:hover {
                        background-color: $hover-green;
                    }
                }
                .cancel-form {
                    background-color: $cancel-red;
                    &:hover {
                        background-color: $hover-red;
                    }
                }
            }
            .project {
                margin: 0.5rem;
                padding-left: 1rem;
            }
        }
    }
}

.active {
    display: flex;
}
